@charset "utf-8";
/* CSS Document */

.container
{
	width:1000px;
	height:8000px;
	margin-top:70px;
	
}

.container0
{
	width:600px;
	height:50px;
	margin-top:140px;
	margin-left:200px;
}

